
.icon-audittrail:before { content: '\e800'; } /* '' */
.icon-buzhidaosshi:before { content: '\e801'; } /* '' */
.icon-choose:before { content: '\e802'; } /* '' */
.icon-transportunit:before { content: '\e803'; } /* '' */
.icon-controlpanel:before { content: '\e804'; } /* '' */
.icon-fold:before { content: '\e805'; } /* '' */
.icon-sensors:before { content: '\e806'; } /* '' */
.icon-transportorder:before { content: '\e807'; } /* '' */
.icon-daily-report:before { content: '\e808'; } /* '' */
.icon-date:before { content: '\e809'; } /* '' */
.icon-fold1:before { content: '\e80a'; } /* '' */
.icon-inventory-status:before { content: '\e80b'; } /* '' */
.icon-issuing--receiving-schedule:before { content: '\e80c'; } /* '' */
.icon-logout:before { content: '\e80d'; } /* '' */
.icon-online-check-review:before { content: '\e80e'; } /* '' */
.icon-open:before { content: '\e80f'; } /* '' */
.icon-overview:before { content: '\e810'; } /* '' */
.icon-settings:before { content: '\e811'; } /* '' */
.icon-subsystem-availability:before { content: '\e812'; } /* '' */
.icon-throughput:before { content: '\e813'; } /* '' */
.icon-transport-order-issues:before { content: '\e814'; } /* '' */
.icon-upcoming-maintenance:before { content: '\e815'; } /* '' */
.icon-unfold1:before { content: '\e816'; } /* '' */
.icon-apikey:before { content: '\e817'; } /* '' */
.icon-errorlogs:before { content: '\e818'; } /* '' */
.icon-green:before { content: '\e819'; } /* '' */
.icon-gatewaylogs:before { content: '\e81a'; } /* '' */
.icon-l:before { content: '\e81c'; } /* '' */
.icon-grey:before { content: '\e81d'; } /* '' */
.icon-r:before { content: '\e81e'; } /* '' */
.icon-toggling:before { content: '\e820'; } /* '' */
.icon-userhistory:before { content: '\e823'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
