.content-wrapper-menu {
  width: 100%;
  background: #F0F4F9;
}

.level-left {
  background: white;
  width: 78%;
}

.level-title-left {
  margin: 10px 0px 0px 25px;
}

.unit-level-title-right {
  margin: 10px 10px 0px 0px;
  border: 1px solid #6E92D9;
  border-radius: 5px;
  background: #F0F4F9;
  color: #073387;
  padding-right: 20px;
}

.level-title {
  display: flex;
  justify-content: space-between;
}

.level-bottom-div {
  width: 100%;
  height: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.level-bottom-div img {
  width: 100%;
  height: 85%;
}

.button-style1,
.button-style2 {
  width: 125px;
  height: 38px;
  color: white;
  border-radius: 5px;
  border: 0px;
}

.button-style1 {
  background: #0B5EC2;
  margin-right: 25px;
}

.button-style2 {
  background: #020951;
}

.bark-div {
  background: white;
  border-radius: 0.5rem;
}

.search-container {
  width: 120px;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.drop-down {
  width: 130px;
}

.search-container,
.drop-down {
  margin-top: 8px !important;
}

.drop-down-select {
  color: black !important;
  height: 27.6px !important;
  border-radius: 5px !important;
  outline: none !important;
  border: 1px solid #D3D3D3 !important;
  padding: 0 !important;
}

.drop-down-select,
.search-input {
  flex: 1;
  padding-right: 30px;
  padding-left: 10px;
  width: 100%;
  font-size: 13px;
  height: 27.6px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
}

.search-icon {
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-55%);
}

.search-icon img {
  width: 80%;
  height: 80%;
}

.menu-div {
  display: flex;
}

.st-right {
  width: 315px;
  height: 590px;
  margin: 10px 0px 10px 10px;
  overflow: auto;
}


.menuBackground {
  margin: 0px 8px;
}

.crane-title {
  background: #020f50;
  padding: 0.21rem;
  border-radius: 3px;
  margin: 0px 4px 0px 5px;
  width: 1.5rem;
  height: 1.5rem;
}

.menuColor {
  color: #020F50;
}


.menuMargin {
  margin: 0px 5px;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
}

.menuMarginRight {
  margin-right: 5px;
  width: 1.5rem;
  height: 1.5rem;
}

.menuWH {
  width: 20px;
  height: 20px;
}

.bark-table tr {
  white-space: nowrap;
}

.table-color-blue {
  color: blue;
}

.right-hide-img {
  position: absolute;
  padding-bottom: 0.7rem;
  width: 3.6rem;
  height: 3.6rem;
  cursor: pointer;
  right: 0;
}

.hover-background>tbody>tr:hover {
  background-color: #E9EDFF;
  cursor: pointer;
}