::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d5d5d5;
}